# 数据处理
pandas==2.2.0
geopandas==0.14.3
numpy==1.26.3

# 机器学习
statsmodels==0.14.1
prophet==1.1.5
scikit-learn==1.4.0
scipy==1.12.0

# 网络请求
requests==2.31.0
flask==2.0.3
flask-cors==4.0.0
Flask-Caching==2.1.0
gunicorn==20.1.0

# 可视化
matplotlib==3.8.2
seaborn==0.13.2

# 数据库
mysql-connector-python==8.2.0

# 其他
pyproj==3.6.1
shapely==2.0.2
fiona==1.9.5
